<advancedsettings>
  <services>
    <webserver>true</webserver>
    <webserverport>8085</webserverport>
    <esallinterfaces>true</esallinterfaces>
    <webserverauthentication>false</webserverauthentication>
  </services>
</advancedsettings>
