<sources>
    <video>
        <default pathversion="1"></default>
        <source>
            <name>NAS</name>
            <path pathversion="1">/media/hobbit/</path>
            <allowsharing>true</allowsharing>
        </source>
    </video>
    <music>
        <default pathversion="1"></default>
        <source>
            <name>NAS</name>
            <path pathversion="1">/media/hobbit/</path>
            <allowsharing>true</allowsharing>
        </source>
    </music>
    <files>
        <default pathversion="1"></default>
        <source>
            <name>NAS</name>
            <path pathversion="1">/media/hobbit/</path>
            <allowsharing>true</allowsharing>
        </source>
    </files>
</sources>
