homeassistant: false
permit_join: true
mqtt:
  base_topic: zigbee2mqtt
  server: mqtt://mqtt
frontend:
  port: 8080
serial:
  port: {{ zigbee_device }}
advanced:
  log_level: info
  network_key: GENERATE
